<ion-view title="{{list.title}} ({{tasks.length}})">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button ng-click="removeList()" ng-show="canDeleteList" class="button button-assertive"><i class="icon ion-trash-a"></i> Delete list</button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <i ng-show="loading" class="ion-looping busy"></i>

    <div ng-hide="loading" class="list">
      <form ng-submit="addTask(newTask);newTask = '';">
        <label class="item item-input addInput">
          <i class="ion-plus-round"></i>
          <input type="text" ng-model="newTask" placeholder="Add task">
        </label>
      </form>
    </div>

    <ul ng-hide="loading" class="list">
      <li class="item" ng-repeat="task in tasks" ng-class="{completed: task.completed_at != null}">
        <i class="checkbox icon ion-android-checkmark" ng-click="toggleTask($index)"></i>
        {{task.title}}
        <i ng-click="setStarred(task)" ng-hide="task.starred" class="icon starTask ion-ios7-star-outline"></i>
        <i ng-click="setNotStarred(task)" ng-show="task.starred" class="icon starTask ion-ios7-star"></i>
      </li>
    </ul>
  </ion-content>
  <ion-footer-bar ng-show="syncLoading || hasCompletedTasks()" class="bar-dark">
    <div class="buttons">
      <button ng-click="clearCompleted()" ng-disabled="!hasCompletedTasks()" class="button button-clear">
        <i class="icon ion-trash-a"></i> Clear completed
      </button>
      <button ng-show="syncLoading" class="button button-clear">
        <i class="icon ion-looping"></i> working
      </button>
    </div>
  </ion-footer-bar>
</ion-view>
